@{
    IEnumerable<SelectListItem> Horarios = new SelectList(@ViewBag.Horarios, "Id", "Hora");
    IEnumerable<SelectListItem> Asientos = new SelectList(@ViewBag.Asientos, "Id", "Asiento");
    IEnumerable<SelectListItem> Cargas = new SelectList(@ViewBag.Carga, "Id", "Peso");
}

<div class="col-md-12">
    <div class="form-group">
        <label>Horario*</label>
        @Html.DropDownList("IdHorario", Horarios, "-- Seleccionar --", new { @class = "form-control" })
    </div>
</div>
<div id="listAsiento">
    <div class="col-md-12">
        <div class="form-group">
            <label>Asiento</label>
            @Html.DropDownList("IdAsiento", Asientos, "-- Seleccionar --", new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <label>Carga</label>
        @Html.DropDownList("IdCarga", Cargas, "-- Seleccionar --", new { @class = "form-control" })
    </div>
</div>
<div id="txtPago">
    <div class="col-md-12">
        <div class="form-group">
            <label>Pago</label>
            <input name="Pago" id="Pago" class="form-control" readonly />
        </div>
    </div>
</div>

<script>
    $("#IdHorario").change(function (e) {
        $.get('@Url.Action("Pagos", "Venta")', { IdHorario: $("#IdHorario").val(), IdCarga: $("#IdCarga").val() }).
            success(function (resultado) { $("#txtPago").html(resultado); })
    });
    $("#IdCarga").change(function (e) {
        $.get('@Url.Action("Pagos", "Venta")', { idHorario: $("#IdHorario").val(), idCarga: $("#IdCarga").val() }).
            success(function (resultado) { $("#txtPago").html(resultado); })
    });
    $("#IdHorario").change(function (e) {
        $.get('@Url.Action("Asientos", "Venta")', { IdHorario: $("#IdHorario").val() }).
            success(function (resultado) { $("#listAsiento").html(resultado); }),
        $.get('@Url.Action("AsientosPrevio", "Venta")', { IdHorario: $("#IdHorario").val() }).
            success(function (resultado) { $("#VistaAsientos").html(resultado); })
    });
    $("#IdAsiento").change(function (e) {
        $.get('@Url.Action("AsientosPrevio", "Venta")', { idHorario: $("#IdHorario").val(), asiento: $("#IdAsiento").val() }).
            success(function (resultado) { $("#VistaAsientos").html(resultado); })
    });
</script>
