
<div class="col-md-8 col-md-offset-2">
    <label>Vista Previa Asientos</label>
    <div class="col-md-12 col-md-offset-5">
        <p>Ventanilla</p>
    </div>
    <table class="table table-bordered col-md-12">
        <tbody>
            <tr>
                <td align="center" class="@ViewBag.Asiento1Color">
                    <p>1</p>
                    <input type="checkbox" id="Asiento1" name="Asiento1" disabled @ViewBag.Asiento1 />
                </td>
                <td align="center" class="@ViewBag.Asiento3Color">
                    <p>3</p>
                    <input type="checkbox" id="Asiento3" name="Asiento3" disabled @ViewBag.Asiento3 />
                </td>
                <td align="center" class="@ViewBag.Asiento7Color">
                    <p>7</p>
                    <input type="checkbox" id="Asiento7" name="Asiento7" disabled @ViewBag.Asiento7 />
                </td>
                <td align="center" class="@ViewBag.Asiento10Color">
                    <p>10</p>
                    <input type="checkbox" id="Asiento10" name="Asiento10" disabled @ViewBag.Asiento10 />
                </td>
                <td align="center" class="@ViewBag.Asiento13Color">
                    <p>13</p>
                    <input type="checkbox" id="Asiento13" name="Asiento13" disabled @ViewBag.Asiento13 />
                </td>
            </tr>
            <tr>
                <td align="center" class="@ViewBag.Asiento2Color">
                    <p>2</p>
                    <input type="checkbox" id="Asiento2" name="Asiento2" disabled @ViewBag.Asiento2 />
                </td>
                <td align="center" class="@ViewBag.Asiento4Color">
                    <p>4</p>
                    <input type="checkbox" id="Asiento4" name="Asiento4" disabled @ViewBag.Asiento4 />
                </td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center" class="@ViewBag.Asiento14Color">
                    <p>14</p>
                    <input type="checkbox" id="Asiento14" name="Asiento14" disabled @ViewBag.Asiento14 />
                </td>
            </tr>
            <tr>
                <td align="center"></td>
                <td align="center" class="@ViewBag.Asiento5Color">
                    <p>5</p>
                    <input type="checkbox" id="Asiento5" name="Asiento5" disabled @ViewBag.Asiento5 />
                </td>
                <td align="center" class="@ViewBag.Asiento8Color">
                    <p>8</p>
                    <input type="checkbox" id="Asiento8" name="Asiento8" disabled @ViewBag.Asiento8 />
                </td>
                <td align="center" class="@ViewBag.Asiento11Color">
                    <p>11</p>
                    <input type="checkbox" id="Asiento11" name="Asiento11" disabled @ViewBag.Asiento11 />
                </td>
                <td align="center" class="@ViewBag.Asiento15Color">
                    <p>15</p>
                    <input type="checkbox" id="Asiento15" name="Asiento15" disabled @ViewBag.Asiento15 />
                </td>
            </tr>
            <tr>
                <td align="center" class="danger">
                    <p>C</p>
                    <input type="checkbox" name="name1" disabled checked />
                </td>
                <td align="center" class="@ViewBag.Asiento6Color">
                    <p>6</p>
                    <input type="checkbox" id="Asiento6" name="Asiento6" disabled @ViewBag.Asiento6 />
                </td>
                <td align="center" class="@ViewBag.Asiento9Color">
                    <p>9</p>
                    <input type="checkbox" id="Asiento9" name="Asiento9" disabled @ViewBag.Asiento9 />
                </td>
                <td align="center" class="@ViewBag.Asiento12Color">
                    <p>12</p>
                    <input type="checkbox" id="Asiento12" name="Asiento12" disabled @ViewBag.Asiento12 />
                </td>
                <td align="center" class="@ViewBag.Asiento16Color">
                    <p>16</p>
                    <input type="checkbox" id="Asiento16" name="Asiento16" disabled @ViewBag.Asiento16 />
                </td>
            </tr>
        </tbody>
    </table>
    <div class="col-md-12 col-md-offset-5">
        <p>Ventanilla</p>
    </div>
</div>

<input type="hidden" id="IdAs" value="@ViewBag.idHor" />