

<tr>
    <td>
        <input type="hidden" name="VentaPasajes[@ViewBag.Indice].IdCliente" value="@Model.Id" />
        @Model.DniRuc
    </td>
    <td>
        <input type="hidden" value="@Model.Id" />
        @Model.Nombre
    </td>
    <td>
        @ViewBag.EstOrigen.EstacionesT
    </td>
    <td>
        @ViewBag.EstDestino.EstacionesT
    </td>
    <td>
        @ViewBag.Pago
    </td>
    
    <td>
        <a href="#" onclick="EliminarDetalle(@ViewBag.Indice)">Eliminar</a>
    </td>
    <td>
        <input type="hidden" name="VentaPasajes[@ViewBag.Indice].IdHorario" value="@ViewBag.IdHorario" />
    </td>
    <td>
        <input type="hidden" name="VentaPasajes[@ViewBag.Indice].IdCarga" value="@ViewBag.IdCarga" />
    </td>
    <td>
        <input type="hidden" name="VentaPasajes[@ViewBag.Indice].Pago" value="@ViewBag.Pago" />
    </td>
    <td>
        <input type="hidden" name="VentaPasajes[@ViewBag.Indice].Asiento" value="@ViewBag.Asiento.Id" />
    </td>
</tr>

<script>

    function EliminarDetalle(id) {
        
        console.log(id);
        var valorelim = 0;
        $("#VentaTBody tr:eq("+ id +")").find('td:eq(4)').each(function () {
            console.log(id);
            valor = $(this).html();
            console.log(valor);
            valorelim = parseInt(valor)
        })

        $.get("CajaTotalPago", {
            pago: valorelim,
            totalVenta: $("#TotalVenta").val(),
            estado: false
        })
        .success(function (response) {
            $('#TotalPrecio').html(response);
        });

        $("#VentaTBody tr").on("click", function () {
            $(this).remove();
            return false;
        });
    }

</script>