@model SystranHorizonte.Models.VentaPasaje
@{
    
}
<div class="col-md-6">
    <div class="col-md-10">
        <div class="form-group">
            <label>DniRuc*</label>
            <input type="number" name="DniRuc" id="lbdni" class="form-control" maxlength="11" required min="10000000" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label></label>
            <a class="btn btn-info pull-right" href="@Url.Action("Clientes", "Venta")" id="btnBuscar2">...</a>
        </div>
    </div>
    <div id="idnombres">
        <div class="col-md-12">
            <div class="form-group">
                <label>Nombre*</label>
                <input type="text" name="Nombres" id="Nombres" pattern="[a-zA-Z\sáéíóúñüàè]+" class="form-control" placeholder="Carlos" required  />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Apellidos*</label>
                <input type="text" name="Apellidos" id="Apellidos" pattern="[a-zA-Z\sáéíóúñüàè]+" class="form-control" placeholder="Carlos" required  />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Telefono</label>
                <input type="tel" name="Telefono" id="Telefono" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Direccion</label>
                <input type="text" name="Direccion" id="Direccion" class="form-control" />
            </div>
        </div>
    </div>

</div>

<div class="col-md-6">
    @{
        IEnumerable<SelectListItem> Horarios = new SelectList(@ViewBag.Horarios, "Id", "HoraText");
        IEnumerable<SelectListItem> Estaciones = new SelectList(@ViewBag.Estacion, "Id", "EstacionesT");
        IEnumerable<SelectListItem> Asientos = new SelectList(@ViewBag.Asientos, "Id", "Asiento");
        IEnumerable<SelectListItem> Cargas = new SelectList(@ViewBag.Carga, "Id", "Peso");
    }

    <div class="col-md-12">
        <div class="form-group">
            <label>EstacionOringen*</label>
            <label style="color: red">@ViewBag.IdOrigen</label>
            @Html.DropDownList("IdOrigen", Estaciones, "-- Seleccionar --", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label>EstacionDestino*</label>
            <label style="color: red">@ViewBag.IdDestino</label>
            @Html.DropDownList("IdDestino", Estaciones, "-- Seleccionar --", new { @class = "form-control" })
        </div>
    </div>
    <div id="ddlHorarios">
        <div class="col-md-12">
            <div class="form-group">
                <label>Horario*</label>
                <label style="color: red">@ViewBag.IdHorario</label>
                @Html.DropDownList("IdHorario", Horarios, "-- Seleccionar --", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Asiento</label>
                @Html.DropDownList("IdAsiento", Asientos, "-- Seleccionar --", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Carga</label>
                @Html.DropDownList("IdCarga", Cargas, "-- Seleccionar --", new { @class = "form-control" })
            </div>
        </div>
        <div id="txtPago">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Pago</label>
                    <input name="Pago" id="Pago" class="form-control" />
                </div>
            </div>
        </div>

    </div>
</div>

<div id="VistaAsientos">
    
</div>


<div class="col-md-12">
    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cerrar</button>
    <button type="button" class="btn btn-default pull-right" onclick="AgregarPasajeAVenta()">Agregar</button>
</div>

<script>
    $("#btnBuscar2").click(function (e) {
        e.preventDefault();
        $.get(this.href, { dni: $("#lbdni").val() }).
            success(function (resultado) { $("#idnombres").html(resultado); })
    });
    $("#IdOrigen").change(function (e) {
        $.get('@Url.Action("HorariosEstacionOrigen", "Venta")', { idEstacion: $("#IdOrigen").val(), idDestino: $("#IdDestino").val() }).
            success(function (resultado) { $("#ddlHorarios").html(resultado); })
    });
    $("#IdDestino").change(function (e) {
        $.get('@Url.Action("HorariosEstacionOrigen", "Venta")', { idEstacion: $("#IdOrigen").val(), idDestino: $("#IdDestino").val() }).
            success(function (resultado) { $("#ddlHorarios").html(resultado); })
    });
    $("#IdHorario").change(function (e) {
        $.get('@Url.Action("Pagos", "Venta")', { idHorario: $("#IdHorario").val(), idCarga: $("#IdCarga").val() }).
            success(function (resultado) { $("#txtPago").html(resultado); })
    });
    $("#IdCarga").change(function (e) {
        $.get('@Url.Action("Pagos", "Venta")', { idHorario: $("#IdHorario").val(), idCarga: $("#IdCarga").val() }).
            success(function (resultado) { $("#txtPago").html(resultado); })
    });

    function AgregarPasajeAVenta() {
        var indice = $('#VentaTBody').find('tr').length;
        $.get('@Url.Action("AgregarDetalle", "Venta")', {
            'indice': indice, idHorario: $("#IdHorario").val(),
            idEstacion: $("#IdOrigen").val(), idDestino: $("#IdDestino").val(),
            idAsiento: $("#IdAsiento").val(), idCarga: $("#IdCarga").val(),
            pago: $("#Pago").val(), lbdni: $("#lbdni").val(),
            Nombres: $("#Nombres").val(), Apellidos: $("#Apellidos").val(),
            Telefono: $("#Telefono").val(), Direccion: $("#Direccion").val(),
            AsientoCache: $("#IdAs").val(), idventa: $("#NroVenta").val(),
        })
        .success(function (respuesta) {
            $('#VentaTBody').append(respuesta);
        });

        $.get('@Url.Action("CajaTotalPago", "Venta")', {
            pago: $("#Pago").val(),
            totalVenta: $("#TotalVenta").val(),
            estado: true,
            lbdni: $("#lbdni").val()
        })
        .success(function (response) {
            $('#TotalPrecio').html(response);
        });
    }

</script>
