@{
    IEnumerable<SelectListItem> Estaciones = new SelectList(@ViewBag.Estacion, "Id", "EstacionesT");
}

<h2>Listar Ventas</h2>

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-default pull-right" href="@Url.Action("AgregarVenta", "Venta")">Nueva Venta</a><br />
    </div>
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Criterio:</label>
                    <input type="text" class="form-control" id="txtBuscar" onkeyup="buscarVentas()" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Fecha Inicio:</label>
                    <input type="date" class="form-control" id="txtCalendar" onkeyup="buscarVentas()" value="@ViewBag.Fecha" />
                </div>
            </div>
            <div class="col-md-3">
                <label>Reportes:</label><br />
                <a class="btn btn-default" id="btnreport" href="#">Activar Reportes</a>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label>EstacionOringen:</label>
                    @Html.DropDownList("IdOrigen", Estaciones, "-- Seleccionar --", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Fecha Fin:</label>
                    <input type="date" class="form-control" id="txtCalendar2" onkeyup="buscarVentas()" value="@ViewBag.Fecha" min="@ViewBag.Fecha" />
                </div>
            </div>
            <div class="col-md-3">
                <label>Seleccionar Tipo de Reporte:</label>
                <select class="form-control" id="listreport" disabled>
                    <option value=" ">-- Seleccionar --</option>
                    <option value="PDF">Reporte PDF</option>
                    <option value="Excel">Reporte Excel</option>
                    <option value="Word">Reporte Word</option>
                    <option value="Image">Reporte Image</option>
                </select>
            </div>
        </div>
    </div>
    
    <br />
    <br />
    <div class="col-md-12" id="listVentas">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>NroVenta</th>
                    <th>DniRuc</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>TotalVenta</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NroVenta</td>
                        <td>@item.Cliente.DniRuc</td>
                        <td>@item.Cliente.Nombre</td>
                        <td>@item.Cliente.Telefono</td>
                        <td>@item.TotalVenta</td>
                        <td>@item.Fecha</td>
                        <td><a href="@Url.Action("FinalVenta", "Venta",new {id = @item.Id})" id="btnVer">Ver</a> | <a href="@Url.Action("ModificarVenta", "Venta",new {id = @item.Id})">Editar</a> | <a href="#" onclick="abrirmodalelim(@item.Id)">Eliminar</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="BuscarVenta">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Detalle</h4>
                </div>

                <div class="col-md-12">
                    <div id="DetalleVenta">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="btnCerrarModal" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function abrirmodalelim(idve) {
        $.get("EliminarVenta", { idve: idve }).
            success(function (resultado) {
                $("#Detalle").html(resultado);
                $('#BuscarVenta').modal('show');
            })
    }

    $("#btnCerrarModal").click(function (e) {
        window.location.href = "ListarVentas";
    });
    $(document).ready(function () {
        $('#btnreport').click(function (e) {
            e.preventDefault();
            document.getElementById("listreport").disabled = false;
        })
    });

    $("#txtCalendar").change(function (e) {
        $("#txtCalendar2").attr("min", $("#txtCalendar").val())
        $.get("Buscar", { criterio: $("#txtBuscar").val(), fechaini: $("#txtCalendar").val(), fechafin: $("#txtCalendar2").val(), EstacionOringen: $("#IdOrigen").val() })
        .success(function (response) {
            $('#listVentas').html(response);
        });
    });
    $("#txtCalendar2").change(function (e) {
        $("#txtCalendar").attr("max", $("#txtCalendar2").val())
        $.get("Buscar", { criterio: $("#txtBuscar").val(), fechaini: $("#txtCalendar").val(), fechafin: $("#txtCalendar2").val(), EstacionOringen: $("#IdOrigen").val() })
        .success(function (response) {
            $('#listVentas').html(response);
        });
    });
    $("#IdOrigen").change(function (e) {
        $.get("Buscar", { criterio: $("#txtBuscar").val(), fechaini: $("#txtCalendar").val(), fechafin: $("#txtCalendar2").val(), EstacionOringen: $("#IdOrigen").val() })
        .success(function (response) {
            $('#listVentas').html(response);
        });
    });
    function buscarVentas() {
        $.get("Buscar", { criterio: $("#txtBuscar").val(), fechaini: $("#txtCalendar").val(), fechafin: $("#txtCalendar2").val(), EstacionOringen: $("#IdOrigen").val() })
        .success(function (response) {
            $('#listVentas').html(response);
        });
    }

    $("#listreport").change(function (e) {
        var ids = listreport.options[listreport.selectedIndex].value;
        if(listreport.selectedIndex<1)
            alert('Seleccionar una opcion');
        else
            window.location.href = '@Url.Action("ReportReportesVentas", "Venta")' + "/?" +
                "id="+ listreport.options[listreport.selectedIndex].value + "&" +
                "criterio=" + $("#txtBuscar").val() + "&" + "fechaini=" + $("#txtCalendar").val()
                + "&" + "fechafin=" + $("#txtCalendar2").val() + "&" + "EstacionOringen=" + $("#IdOrigen").val();
    });
</script>