<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Horizonte @ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="row" style="margin-right: 0px; padding-left:200px; padding-right:200px">
        <div class="masthead">
            <div class="row">
                <div class="classname"></div>
                <h3 class="text-muted">Systram Horizonte</h3>
            </div>
            <nav>
                <ul class="nav nav-justified nav-tabs">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListarVentas" ? "active" : "")"><a href="@Url.Action("ListarVentas", "Venta")">Ventas</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListarEncomiendas" ? "active" : "")"><a href="@Url.Action("ListarEncomiendas", "Encomienta")">Encomiendas</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListarReservas" ? "active" : "")"><a href="@Url.Action("ListarReservas", "Reserva")">Reservas</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Otros <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListCargas" ? "active" : "")"><a href="@Url.Action("ListCargas", "Cargas")">Listar Cargas</a></li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "AddCarga" ? "active" : "")"><a href="@Url.Action("AddCarga", "Cargas")">Nueva Carga</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Listar" ? "active" : "")"><a href="@Url.Action("Listar", "Cliente")">Listar Clientes</a></li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Agregar" ? "active" : "")"><a href="@Url.Action("Agregar", "Cliente")">Nuevo Cliente</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListarEmpleado" ? "active" : "")"><a href="@Url.Action("ListarEmpleado", "Empleado")">Listar Empleados</a></li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "AgregarEmpleado" ? "active" : "")"><a href="@Url.Action("AgregarEmpleado", "Empleado")">Nuevo Empleado</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListarEstacion" ? "active" : "")"><a href="@Url.Action("ListarEstacion", "Estacion")">Listar Estaciones</a></li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "AgregarEstacion" ? "active" : "")"><a href="@Url.Action("AgregarEstacion", "Estacion")">Nuevo Estancion</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListHorarios" ? "active" : "")"><a href="@Url.Action("ListHorarios", "Horario")">Listar Horarios</a></li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "AddHorario" ? "active" : "")"><a href="@Url.Action("AddHorario", "Horario")">Nuevo Horario</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListarVehiculo" ? "active" : "")"><a href="@Url.Action("ListarVehiculo", "Vehiculo")">Listar Vehiculos</a></li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "AgregarVehiculo" ? "active" : "")"><a href="@Url.Action("AgregarVehiculo", "Vehiculo")">Nuevo Vehiculo</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">La Empresa <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Quienes Somos</a></li>
                            <li><a href="#">Contacto</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>



        <div class="panel-body">
            @RenderBody()
        </div>

    </div>

    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="@Url.Action("bootstrap.min.js", "Scripts")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
