<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Telefono</th>
            <th>Cargo</th>
            <th>Comentario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Apellidos</td>
                <td>@item.Telefono</td>
                <td>@item.Cargo</td>
                <td>@item.Comentario</td>
                <td><a href="@Url.Action("Modificar", "Empleado", new { id = @item.Id })">Editar</a> | <a href="#" onclick="abrirmodalelim(@item.Id)">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>
