<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Ciudad</th>
            <th>Provincia</th>
            <th>Direccion</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Codigo</td>
                <td>@item.Ciudad</td>
                <td>@item.Provincia</td>
                <td>@item.Direccion</td>
                <td>@item.Telefono</td>
            </tr>
        }
    </tbody>
</table>