<div class="col-md-12">
    <div class="col-md-12">
        <div class="form-group">
            <label>Fecha</label>
            <p>@Model.Fecha</p>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="col-md-12">
        <div class="form-group">
            <label>Nombre</label>
            <p>@Model.Cliente.Nombre @Model.Cliente.Apellidos</p>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="col-md-12">
        <div class="form-group">
            <label>DniRuc</label>
            <p>Model.Cliente.DniRuc</p>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="col-md-12">
        <div class="form-group">
            <label>Telefono</label>
            <p>@Model.Cliente.Telefono</p>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="col-md-12">
        <div class="form-group">
            <label>Estado</label>
            <p>@Model.EstadoMostrar</p>
        </div>
    </div>
</div>