
@model SystranHorizonte.Models.Carga

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Modificar Carga : @Model.PesoMostrar</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("Modificar", "Cargas")" method="post">
            <div class="col-md-6">
                <div class="col-md-12" title="Rango de carga: 0 - 15 kg">
                    <div class="col-md-12">
                        <label>Peso*(Kg)</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="number" name="Peso" id="numero1" class="form-control" placeholder="0" required value="@Model.Peso" min="0" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="number" name="Peso2" id="numero2" class="form-control" placeholder="15" required value="@Model.Peso2" min="1" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Precio*</label>
                            <input type="number" name="PrecioText" class="form-control" value="@Model.PrecioText" required min="0.00" step="0.01" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Tipo*</label>
                            <select class="form-control" name="TipoString" required>
                                <option value="Encomiendas">Encomiendas</option>
                                <option value="Pasajes">Pasajes</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Estado*</label>
                            <select class="form-control" name="Estado" required>
                                <option value=true>Activo</option>
                                <option value=false>Inactivo</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <button class="btn btn-danger btn-lg pull-right" type="submit">Guardar</button>
                        <a class="btn btn-default btn-lg pull-right" href="@Url.Action("ListCargas", "Cargas")">Cancelar</a>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>

<script>
    $("#numero1").keyup(function (e) {
        var criterio = $('#numero1').val();
        var inti = parseInt(criterio) + 1;
        $("#numero2").attr("min", inti)
    });
</script>