@{
    IEnumerable<SelectListItem> Horarios = new SelectList(@ViewBag.Horarios, "Id", "HoraText");
    IEnumerable<SelectListItem> Asientos = new SelectList(@ViewBag.Asientos, "Id", "Asiento");
    IEnumerable<SelectListItem> Cargas = new SelectList(@ViewBag.Carga, "Id", "Peso");
}

<div class="col-md-12">
    <div class="form-group">
        <label>Horario*</label>
        @Html.DropDownList("IdHorario", Horarios, "-- Seleccionar --", new { @class = "form-control" })
    </div>
</div>
<div id="listAsiento">
    <div class="col-md-12">
        <div class="form-group">
            <label>Asiento</label>
            @Html.DropDownList("IdAsiento", Asientos, "-- Seleccionar --", new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <label>Carga</label>
        <input type="number" name="cargaPasaje" id="cargaPasaje" value="0" class="form-control" />
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <label>A Cuenta</label>
        <input type="number" name="ACuenta" id="ACuenta" value="0" class="form-control" />
    </div>
</div>
<div id="txtPago">
    <div class="col-md-12">
        <div class="form-group">
            <label>Pago</label>
            <input name="Pago" id="Pago" class="form-control" readonly />
        </div>
    </div>
</div>

<script>
    $("#IdHorario").change(function (e) {
        $.get('@Url.Action("Pagos", "Reserva")', { IdHorario: $("#IdHorario").val(), cargaPasaje: $("#cargaPasaje").val(), ACuenta: $("#ACuenta").val() }).
            success(function (resultado) { $("#txtPago").html(resultado); })
    });
    $("#ACuenta").change(function (e) {
        $.get('@Url.Action("Pagos", "Reserva")', { idHorario: $("#IdHorario").val(), cargaPasaje: $("#cargaPasaje").val(), ACuenta: $("#ACuenta").val() }).
            success(function (resultado) { $("#txtPago").html(resultado); })
    });
    $("#cargaPasaje").change(function (e) {
        $.get('@Url.Action("Pagos", "Reserva")', { idHorario: $("#IdHorario").val(), cargaPasaje: $("#cargaPasaje").val(), ACuenta: $("#ACuenta").val() }).
            success(function (resultado) { $("#txtPago").html(resultado); })
    });
    $("#IdHorario").change(function (e) {
        $.get('@Url.Action("Asientos", "Reserva")', { IdHorario: $("#IdHorario").val() }).
            success(function (resultado) { $("#listAsiento").html(resultado); }),
        $.get('@Url.Action("AsientosPrevio", "Reserva")', { IdHorario: $("#IdHorario").val() }).
            success(function (resultado) { $("#VistaAsientos").html(resultado); })
    });
    $("#IdAsiento").change(function (e) {
        $.get('@Url.Action("AsientosPrevio", "Reserva")', { idHorario: $("#IdHorario").val(), asiento: $("#IdAsiento").val() }).
            success(function (resultado) { $("#VistaAsientos").html(resultado); })
    });
    var a = 0;
    $("#ACuenta").keypress(function (e) {
        a = $("#ACuenta").val();
        if (e.charCode == 45) {
            e.preventDefault();
        }
    });
    $("#cargaPasaje").keypress(function (e) {
        a = $("#cargaPasaje").val();
        if (e.charCode == 45) {
            e.preventDefault();
        }
    });
</script>
