

<tr>
    <td>
        @Model.DniRuc
    </td>
    <td>
        <input type="hidden" value="@Model.Id" />
        @Model.Nombre
    </td>
    <td>
        @ViewBag.EstOrigen.EstacionesT
    </td>
    <td>
        @ViewBag.EstDestino.EstacionesT
    </td>
    <td>
        @ViewBag.Pago
    </td>
    <td>
        @ViewBag.CargaPasaje
    </td>
    <td>
        <a href="#" onclick="EliminarDetalle(@ViewBag.Indice)">Eliminar</a>
    </td>
    <td>
        <input type="hidden" name="VentaEncomiendas[@ViewBag.Indice].IdHorario" value="@ViewBag.IdHorario" />
    </td>
    <td>
        <input type="hidden" name="VentaEncomiendas[@ViewBag.Indice].IdCarga" value="@ViewBag.IdCarga" />
    </td>
    <td>
        <input type="hidden" name="VentaEncomiendas[@ViewBag.Indice].Pago" value="@ViewBag.Pago" />
    </td>
    <td>
        <input type="hidden" name="VentaEncomiendas[@ViewBag.Indice].CargaEncomienda" value="@ViewBag.CargaPasaje" />
    </td>
    <td>
        <input type="hidden" name="VentaEncomiendas[@ViewBag.Indice].Descripcion" value="@ViewBag.Descripcion" />
    </td>
    <td>
        <input type="hidden" name="VentaEncomiendas[@ViewBag.Indice].IdClienteTemp" value="@Model.Id" />
    </td>
    <td>
        <input type="hidden" name="VentaEncomiendas[@ViewBag.Indice].DniRucClienteTemp" value="@Model.DniRuc" />
    </td>
    <td>
        <input type="hidden" name="VentaEncomiendas[@ViewBag.Indice].NombreClienteTemp" value="@Model.Nombre" />
    </td>
    <td>
        <input type="hidden" name="VentaEncomiendas[@ViewBag.Indice].ApellidosClienteTemp" value="@Model.Apellidos" />
    </td>
    <td>
        <input type="hidden" name="VentaEncomiendas[@ViewBag.Indice].DireccionClienteTemp" value="@Model.Direccion" />
    </td>
    <td>
        <input type="hidden" name="VentaEncomiendas[@ViewBag.Indice].TelefonoClienteTemp" value="@Model.Telefono" />
    </td>
</tr>

<script>

    function EliminarDetalle(id) {

        var valorelim = 0;
        $("#VentaTBody tr:eq("+ id +")").find('td:eq(4)').each(function () {
            valor = $(this).html();
            valorelim = valor+"";
        })
        $.get('@Url.Action("CajaTotalPago", "Encomienta")', {
            pago: valorelim,
            totalVenta: $("#TotalVenta").val(),
            estado: false
        })
        .success(function (response) {
            $('#TotalPrecio').html(response);
        });

        $("#VentaTBody tr").on("click", function () {
            $(this).remove();
            return false;
        });
    }

</script>