<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>NroVenta</th>
            <th>DniRuc</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>TotalVenta</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NroVenta</td>
                <td>@item.Cliente.DniRuc</td>
                <td>@item.Cliente.Nombre @item.Cliente.Apellidos</td>
                <td>@item.Cliente.Telefono</td>
                <td>@item.TotalVenta</td>
                <td>@item.Fecha</td>
                <td><a href="@Url.Action("FinalVenta", "Encomienta",new {id = @item.Id})" id="btnVer">Ver</a> | <a href="@Url.Action("ModificarVenta", "Encomienta",new {id = @item.Id})">Editar</a> | <a href="#" onclick="abrirmodalelim(@item.Id)">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>