
@{
    IEnumerable<SelectListItem> Estaciones = new SelectList(@ViewBag.Estacion, "Id", "EstacionesT");
}

<h2>Horarios</h2>

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-default pull-right" href="@Url.Action("AddHorario", "Horario")">Nuevo Horario</a><br />
    </div>
    <br />
    <br />
    <div class="col-md-4">
            <div class="col-md-12">
                <div class="form-group">
                    <label>EstacionOringen</label>
                    @Html.DropDownList("OrigenId", Estaciones, "-- Seleccionar --", new { @class = "form-control" })
                </div>
        </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label>EstacionDestino</label>
                    @Html.DropDownList("DestinoId", Estaciones, "-- Seleccionar --", new { @class = "form-control" })
                </div>
            </div>
    </div>
    
    <div class="col-md-12" id="list">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Hora</th>
                    <th>Costo</th>
                    <th>Asientos</th>
                    <th>EstacionOrigen</th>
                    <th>EstacionDestino</th>
                    <th>EstadoMostrar</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.HoraText</td>
                        <td>@item.Costo</td>
                        <td>@item.Asientos</td>
                        <td>@item.EstacionOrigen.EstacionesT</td>
                        <td>@item.EstacionDestino.EstacionesT</td>
                        <td>@item.EstadoMostrar</td>
                        <td><a href="@Url.Action("Modificar", "Horario", new { id = @item.Id })">Editar</a> | <a href="#" onclick="abrirmodalelim(@item.Id)">Eliminar</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="Ver">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Detalle</h4>
                </div>

                <div class="col-md-12">
                    <div id="Detalle">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="btnCerrarModal" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function abrirmodalelim(idve) {
        $.get("Eliminar", { idve: idve }).
            success(function (resultado) {
                $("#Detalle").html(resultado);
                $('#Ver').modal('show');
            })
    }

    $("#OrigenId").change(function (e) {
        $.get("HorariosEstacionOrigen", { idEstacion: $("#OrigenId").val(), idDestino: $("#DestinoId").val() }).
            success(function (resultado) { $("#list").html(resultado); })
    });
    $("#DestinoId").change(function (e) {
        $.get("HorariosEstacionOrigen", { idEstacion: $("#OrigenId").val(), idDestino: $("#DestinoId").val() }).
            success(function (resultado) { $("#list").html(resultado); })
    });

    $("#btnCerrarModal").click(function (e) {
        window.location.href = "ListHorarios";
    });
</script>
